<!DOCTYPE html>
<html>
  <head>
    <title> Travel By 500px </title>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
     <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    
      <link rel="stylesheet" href="static/css/style.css" />
     <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
     <![endif]-->
     <script src="/static/js/leaflet.js"></script>
     <script src="/static/js/jquery.js"></script>
     <script src="/static/js/underscore-min.js"></script>
     <script src="/static/js/backbone-min.js"></script>

     <script type='text/javascript' src="/static/js/yabble.js"></script>
     <script type='text/javascript' src="/static/js/gamejs.min.js"></script>
     <script type='text/javascript' src="/static/js/game.js"></script>
     <script type='text/javascript' src="/static/js/app.js"></script>
     <script type='text/template' id='tm_gallery'>
     <div id='gallery-layer'>
        <div class='img-prev'>
          <% if (previousImage) { %>
            <img src='<%= previousImage.get('image_url_large') %>'>
          <% } %>
        </div>
       <div id='gallery-primary'>
        <div class='display'><img src='<%= activeImage.get('image_url_large') %>'></div>
       </div>
        <div class='img-next'>
          <% if (nextImage) { %>
            <img src='<%= nextImage.get('image_url_large') %>'>
          <% } %>
        </div>
       <div class='info'>
          <h1><%= activeImage.get('name') %></h1>
          <h3><%= activeImage.get('user').fullname %></h3>
          <div class='actions'>
            <a class='button' href='http://500px.com/photo/<%= activeImage.get('id') %>'>View On 500px.com</a>
          </div>
       </div>
     </div>
     </script>

     <script>
     $(function() {
       App.init({
         locations: '{{{ locations }}}'
       });
     });
     </script>
  </head>
<body>


<div id="gallery-layer"></div>
<div id="map"></div>
<div id="splash">

    <div class="pattern"></div>

    <div class="intro">
        <p>Welcome to ye olde <span>500px</span>, traveler! In these waters ly ye bouty and spoils.

        </p>
    </div>

    <div class="badge">
        <div class="text">
            <h2>Travel By</h2>
            <h1><strong>500</strong>px</h1>
        </div>
        <div class="text-2 hide">
            <button type="sumbit" value="Onward!"/>
            <p>A seafaring game for <br/>ye landlubbers</p>
        </div>
    </div>



    <div class="top-right"></div>
    <div class="top-left"></div>

</div>

</body>
</html>

