
html, body {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6 {

}

p {

}

/* map style */

#map {
    height:100% !important;
}

.map-top {
    top:0;
    left:0;
    width:100%;
    height:
}

.map-bottom {

}

.map-left {

}

.map-right {

}

.thumb {
    border:10px solid white;
}
