
html, body {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6 {

}

p {

}

/* map style */

#map {
    height:100% !important;
}

.map-top {
    top:0;
    left:0;
    width:100%;
    height:
}

.map-bottom {

}

.map-left {

}

.map-right {

}

.thumb {
    border:10px solid white;
}

#photo-canvas {

}

#photo-canvas img {
  border: 10px solid white;
    position:absolute;
    margin:0;
    opacity:0;
    -webkit-transition:.5s ease margin;
    box-shadow: 2px 2px 8px 0px #000;
}

#gallery-layer {
  width: 100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #eee;
}

#gallery-layer #gallery-primary {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#gallery-primary .display {
  text-align: center;
}

#gallery-primary img {
  -webkit-box-shadow: 2px 2px 8px 0px #000;
}

#gallery-layer .img-prev {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100px;
}

.img-prev img {
  margin-left: -600px;
}

#gallery-layer .img-next {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100px;
}

#gallery-layer .info {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  height: 80px;
  width: 100%;
  background-color: #eee;
}

#gallery-layer .info h1 {
  margin: 0;
}

#gallery-layer .info h3 {
  margin: 0;
}

#gallery-layer .actions {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 60px;
  width: 150px;
}


#gjs-canvas {
/*    -webkit-animation: myfirst 10s infinite;
    -webkit-transition:1s ease margin; */

}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {margin-bottom: 0;}
50%  {margin-bottom: 10px;}
100% {margin-bottom: 0;}
}
