
html, body {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6 {

}

p {

}

/* map style */

#map {
    height:100% !important;
}

.map-top {
    top:0;
    left:0;
    width:100%;
    height:
}

.map-bottom {

}

.map-left {

}

.map-right {

}

.thumb {
    border:10px solid white;
}

#photo-canvas {

}

#photo-canvas img {
  border: 10px solid white;
    position:absolute;
    margin:0;
    opacity:0;
    -webkit-transition:.5s ease margin;
    box-shadow: 2px 2px 8px 0px #000;
}

#gallery-layer {
  width: 100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #eee;
}

#gallery-layer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
}

#gallery-layer ul li {
  display: inline;
}

#gallery-layer #gallery-primary {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
}

#gjs-canvas {
/*    -webkit-animation: myfirst 10s infinite;
    -webkit-transition:1s ease margin; */

}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {margin-bottom: 0;}
50%  {margin-bottom: 10px;}
100% {margin-bottom: 0;}
}
